@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #10B981;
  --color-dark: #1F2937;
  --color-light: #F3F4F6;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-slate-950 transition-colors duration-200 dark:bg-gray-900 dark:text-gray-100 font-sans antialiased;
  }
}

@theme {
  --animate-aurora: aurora 60s linear infinite;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }

    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}